* {
    box-sizing: border-box;
    transition: all .1s ease-in;
    margin: 0;
    padding: 0;
}

html {
    background-color: #3399CC;
    border: 16px solid #2B81AC;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: fixed;
}

.container {
    width: 100%;
    max-width: 569px;
    padding: 0 15px;
    margin: 0 auto;
}

.header .container {
    overflow: hidden;
    margin-bottom: 20px;
}

.main .container {
    overflow: hidden;
    margin-bottom: 20px;
}

.main .container {
    overflow: hidden;
    margin-bottom: 20px;
}

.header {
    padding: 15px 0;
}

.footer {
    padding: 15px 0;
}

.title {
    color: #ffffff;
}

.list {
    font-size: 0;
    border-top: 4px solid white;
    border-left: 4px solid white;
}

.item {
    width: 25%;
    text-align: center;
    padding: 20px 0;
    display: inline-block;
    font-size: 18px;
    line-height: 19px;
    color: #ffffff;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
}

p {
    color: #ffffff;
    line-height: 19px;
}

i {
    padding: 0 3px;
}

ul li:nth-child(1) {
    width: 50%;
    background: #3399CC;
}

ul li:nth-child(2) {
    background: #33CCCC;
}

ul li:nth-child(3) {
    background: #996699;
}

ul li:nth-child(4) {
    background: #C24747;
}

ul li:nth-child(5) {
    background: #E2674A;
}

ul li:nth-child(6) {
    background: #FFCC66;
}

ul li:nth-child(7) {
    background: #99CC99;
}

ul li:nth-child(8) {
    background: #669999;
}

ul li:nth-child(9) {
    background: #CC6699;
    width: 50%;
}

ul li:nth-child(10) {
    background: #339966;
}

ul li:nth-child(11) {
    background: #666699;
    width: 100%;
}
